
:root {
    --redColor: #d9534f;
    --lightGrayColor: #D3D4D9;
    --darkGreyColor: #292b2c;
    --blueColor: #0275d8;
    --whiteColor: trasparent;
    --greenColor: #5cb85c;
}

.Chat {
    margin: 3vh 0;
    position: relative;
    background-color: var(--whiteColor);
    font: var(--darkGreyColor);
    border: 2px solid var(--lightGrayColor);
    border-radius: 45px;
    overflow: hidden;
    width: 90vw;
    font-family: Verdana, serif;
    padding-bottom: 100px;
/*
  position: relative;
    background-color: var(--whiteColor);
    font: var(--darkGreyColor);
    border: 2px solid var(--lightGrayColor);
    border-radius: 50px;
    overflow: hidden;
    width: 80%;
    font-family: Verdana, serif;
    padding-bottom: 100px;*/
}

.ChatHeader {
    border-bottom: 2px solid var(--lightGrayColor);
    position: relative;
    top: 0;
    height: 100px;
    padding-left: 10px;
}

.ChatIcon {
    height: 80%;
    float: right;
    padding: 0;
    margin: 10px;
}

.ChatVAName {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.ChatStatus {
    margin: 0;
    position: relative;
    padding-left: 1.7rem;
}

.ChatConvo {
    height: calc(90vh - 200px);
    width: 100%;
    min-width: 40vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scroll-padding-bottom: 0;
}

.ChatMessagesViewer {
    height: 500px;
}

.ChatStatus::before {
    position: absolute;
    content: ' ';
    width: 0.5em;
    height: 0.5em;
    background: var(--greenColor);
    border-radius: 50%;
    left: 0.25em;
    top: calc(50% - 0.25em);
}

.ChatFooter {
    position: relative;
    padding: 0 5%;
    min-width: 100%;
    margin-bottom: -100px;
    z-index: 100;
    height: 100px;
    border-top: solid 2px var(--lightGrayColor);
}

.ChatInput {
    position: relative;
    background: var(--whiteColor);
    height: 100px;
    padding: 0;
    border: none;
    z-index: 10;
    resize: none;
}

.ChatSendButton {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-left: solid 2px var(--lightGrayColor);
    background-color: transparent;
}

.col-3{
    padding: 0;
    position: relative;
    top: -2px;
}
.scroll::-webkit-scrollbar {
    display: none;
}

.chatInput {
    min-height: 5rem;
    outline: none;
    border: none;
}

@media screen and (min-width: 769px) {
    .Chat {
        margin-left: 10rem;
        width: 40rem;
    }
}

/*CHAT MESSAGES*/

.ChatMessageSent,
.ChatMessageReceived {
    color: var(--whiteColor);
    list-style: none;
    margin: 0.5em 1em;
    border-radius: 35px;
    padding: 0.65em 0.8em;
    width: fit-content;
}

.ChatMessageReceived{
    background-color: var(--redColor);
    clear: both;
    float: left;
}
.ChatMessageSent{
    background-color: var(--blueColor);
    clear: both;
    float: right;
}
